.container {

  .colorsContainer{
    padding: 20px;

  }
  .firstColor{
    width:20px;
    height: 20px;
    display: inline-block;
    margin-right: 150px;
  }
  .secondColor{
    width:20px;
    height: 20px;
    display: inline-block;
  }

  #hexColor{
    padding-left: 20px;
    display: inline;
  }

  .bgButton {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-style: none;
    background: linear-gradient(to right bottom, #0f2027, #203a43, #2c5364);
    color: white;

  }

}